# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environment
venv/
.env
*.venv
env/
ENV/

# SQLite database
db.sqlite3

# Django
staticfiles/
media/

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db